<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <deny roles="anonymous" />
            <deny users="?" />
            <deny roles="accountexecutives" />
            <deny roles="membershipaccount0" />
            <deny roles="membershipaccount1" />
            <deny roles="membershipaccount4" />
            <deny roles="membershipaccount3" />
            <deny roles="membershipaccount2" />
            <deny roles="membershipaccount1" />
            <deny roles="membershipaccount2" />
        </authorization>
    </system.web>
</configuration>